<div class="container">
  <div class="text-center m-5">
    <h2>進捗管理</h2>
  </div>
  
  <div>
    <h4>テキスト教材 読破済み</h4>
  </div>
 
 <div class="mt-3">
    Basic  (<%=@genreCount[:userTextGenre]["Basic"] ||= 0%>/<%=@genreCount[:allTextGenre]["Basic"] ||= 0%>)
    <div class="progress" style="height: 25px;">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%=( @genreCount[:userTextGenre]["Basic"]/@genreCount[:allTextGenre]["Basic"].to_f*100).round(0)%>%">
        <%=( @genreCount[:userTextGenre]["Basic"]/@genreCount[:allTextGenre]["Basic"].to_f*100).round(0)%>%
      </div>
    </div>
  </div> 

 <div class="mt-3">
    Git  (<%=@genreCount[:userTextGenre]["Git"] ||= 0%>/<%=@genreCount[:allTextGenre]["Git"] ||= 0%>)
    <div class="progress" style="height: 25px;">
      <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%=( @genreCount[:userTextGenre]["Git"]/@genreCount[:allTextGenre]["Git"].to_f*100).round(0)%>%">
          <%=( @genreCount[:userTextGenre]["Git"]/@genreCount[:allTextGenre]["Git"].to_f*100).round(0)%>%
      </div>
    </div>
  </div>


 <div class="mt-3">
    Ruby  (<%=@genreCount[:userTextGenre]["Ruby"] ||= 0%>/<%=@genreCount[:allTextGenre]["Ruby"] ||= 0%>)
    <div class="progress" style="height: 25px;">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%=( @genreCount[:userTextGenre]["Ruby"]/@genreCount[:allTextGenre]["Ruby"].to_f*100).round(0)%>%">
        <%=( @genreCount[:userTextGenre]["Ruby"]/@genreCount[:allTextGenre]["Ruby"].to_f*100).round(0)%>%
      </div>
    </div>
  </div>

  <div class="mt-3">
    Ruby on Rails  (<%=@genreCount[:userTextGenre]["Ruby on Rails"] ||= 0%>/<%=@genreCount[:allTextGenre]["Ruby on Rails"] ||= 0%>)
    <div class="progress" style="height: 25px;">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%=( @genreCount[:userTextGenre]["Ruby on Rails"]/@genreCount[:allTextGenre]["Ruby on Rails"].to_f*100).round(0)%>%">
        <%=( @genreCount[:userTextGenre]["Ruby on Rails"]/@genreCount[:allTextGenre]["Ruby on Rails"].to_f*100).round(0)%>%
      </div>
    </div>
  </div>        

  

</div>