<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card border-dark h-100">
        <div class="card-header p-0">
          <img class="card-img-top" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" width="100%">
        </div>
        <div class="card-body"> 
        <p id="text-<%= text.id %>">
          <object>
            <% if @read_text_ids.include?(text.id) %>
                <%# <%= render "read", post: text %> 
                <%= link_to '読破済みを解除', text_reads_path(text), method: :delete, remote: true %>
            <% else %>
                <%# <%= render "unread", post: text %>
                <%= link_to '読破済みにする', text_reads_path(text), method: :post, remote: true %>
            <% end %>
          </object>
          <p class="card-text text-title"><%= text.title %> </p>
          <p>【<%= text.genre %>】</p>
        </div>   
      </div>
    </div>
  </div>
</div>